header {
  display: flex;
  gap: 1em;
  align-items: center;
}

button {
  user-select: none;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  user-select: none;
}

section {
  border: 1px solid;
  padding: 1em;
}

.sections h2 {
  margin-top: 0;
  line-height: 1;
}

.color-box {
  background: cornflowerblue;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  color: black;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  user-select: none;
}

.square-playground,
.circle-playground {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.square,
.circle {
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

.square-delete,
.circle-delete {
  border: 1px solid;
  border-radius: 50%;
}

.squares-data,
.circles-data {
  width: 100%;
}

.squares-data-items,
.circles-data-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.square-data,
.circle-data {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.square-data-color,
.circle-data-color {
  border-radius: 4px;
  width: 20px;
  height: 20px;
}
